
body {
    background-color:whitesmoke;


}
img{
    width: 400px;
    height: 400px;
    margin-left: 40px;
}

footer{
    background-color: brown;
    margin-top: 5%;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
}

 p {
    text-align: center;
    font-size:xx-large ;
    color:chocolate;
     padding: 25%;
     font-family: 'Raleway', sans-serif;
     
 }




#resultsList{

text-align: center;
font-size: x-large;
color: darkcyan;
 font-family: 'Raleway', sans-serif;

}

#showResults{
width: 175px;
height: 55px;
border-radius: 30px;
margin-left: 50%;
color: crimson;
font-size: x-large;
margin-top: 50px;
}

